# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Dataset (büyük dosyalar - GitHub'a push edilmez)
archive (1)/
archive (1).zip
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
